<div ng-if="!details">
</div>

<div>
  <img ng-src="http://placehold.it/150x220&text=N/A" class="thumbnail animated flip movie-poster">

  <p class="outer-p">
    <div class="inner-p">
      <span class="label label-primary">Name :</span> {{ details.name }}
    </div>
    <div class="inner-p">
      <span class="label label-primary">Price :</span> {{ details.price }}
    </div>
    <div class="inner-p">
      <span class="label label-primary">Rating :</span> {{ details.rating }}
    </div>
  </p>

</div>
